<form class="autocomplete-form" [formGroup]="searchByName">
  <mat-icon class="search-icon">search</mat-icon>
  <mat-form-field class="autocomplete-full-width">
    <input type="text" placeholder="Search" aria-label="Number" matInput formControlName="enteredName"
      [matAutocomplete]="auto" #inputValue>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchOption($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async | slice:0:5" [value]="option">
        {{option[1] | titlecase}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-stroked-button color="accent" (click)="searchOption(['1','Assam'])">
    <mat-icon class="search-icon">home</mat-icon>
  </button>
</form>