.autocomplete-form {
  min-width: 250px;
  max-width: 350px;
  font-size: medium;
  display: flex;
}
.search-icon{
  align-self: center;
  padding: 2px;
}
.autocomplete-full-width {
  width: 100%;
}
.mat-form-field{
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .autocomplete-form{
    font-size: small;
  }
}