.view-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-card {
	height: 84vh;
	flex: 1 0 auto;
}
.side-card {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 12px;
	width: 33.34%;
}
.map {
	height: 75vh;
	padding: 0;
	background: #fff;
}
.box {
	width: 15%;
	border: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	cursor: move;
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 4px;
	margin-right: 25px;
	position: absolute;
	bottom: 5vh;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	padding: 10px;
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.box:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.legend {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.boundary {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	.mat-card-title-group {
		display: block;
	}
	.mat-card-title {
		font-size: medium;
	}
	.mat-chip {
		font-size: small;
	}
	.side-card {
		width: 100%;
	}
	.content-card {
		height: 60vh;
	}
	.map {
		height: 43vh;
	}
	.side-card {
		padding: 12px 0;
	}
	.box {
		width: 25%;
		font-size: xx-small;
	}
	.legend {
		margin-right: 4px;
		width:16px;
		height: 16px;
	}
}
.credits {
	padding: 10px !important;
	align-self: center;
	/* margin-top: auto; */
	text-align: center;
	color: darkgrey;
	font-size: small;
}