<section class="view-flex">
  <mat-card class="mat-elevation-z8 content-card">
    <mat-card-title-group>
      <mat-card-title>
        {{displayName | titlecase}}
      </mat-card-title>
      <app-search (sendValue)="searchValue($event)"></app-search>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngIf="displayId" color="primary" selected>Map Id: {{displayId}}</mat-chip>
          <mat-chip color="accent" *ngIf="filterValue && displayValue" selected>Value: {{displayValue}} %</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div class="boundary">
        <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers"
          (leafletMapReady)="onMapReady($event)" appMap *ngIf="displayMap" id="mapId">
        </div>
        <div class="box" cdkDragBoundary=".boundary" cdkDrag *ngIf="grades && filterValue">
          <div *ngFor="let g of grades; let i = index">
            <div class="legend" [ngStyle]="{'backgroundColor': getColor(g + 1)}">
            </div>
            {{ grades[i] + '%'}} {{ grades[i + 1] ? '&ndash; ' + grades[i + 1] + '%' : "+"}} <br>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <aside class="side-card">
    <mat-card>
      <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <!-- <mat-tab label="Quick Info">
          Hello
        </mat-tab> -->
        <mat-tab label="Filters">
          <app-filter (filterState)="applyFilter($event)"></app-filter>
        </mat-tab>
      </mat-tab-group>
      <div class="credits">
        Developed and Designed by Gratia Technology Pvt. Ltd. <br>
        &copy; All Rights Reserved 2020-2021 
      </div>
    </mat-card>
  </aside>
</section>
