<div class="drawer-content">
  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>open_in_new</mat-icon>
            <span> Analytics</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-raised-button href="https://www.google.com/" target="_blank" color="warn">Open in a new window</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            <span> Settings</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="credits">
    Developed and Designed by Gratia Technology Pvt. Ltd. <br>
    &copy; All Rights Reserved 2020-2021 
  </div>
</div>
