<mat-card-content>
  <section class="mat-title">
    Category
  </section>
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Select a category</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="selectedCategory">
      <mat-label>Sub-Category</mat-label>
      <mat-select [(ngModel)]="selectedSubCategory">
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Select a sub-category</mat-hint>
    </mat-form-field>
  </div>
  <section>
    <div class="mat-title">Timeline</div>
  </section>
</mat-card-content>
